<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fence.dao.IArchorDao">

    <!--添加-->
	<insert id="add" parameterType="fence.entity.ArchorEntity">
		insert into `archor`
            <trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="name != null">
					name,
				</if>
				<if test="lng != null">
					lng,
				</if>
				<if test="lat != null">
					lat,
				</if>
				<if test="order_sec != null">
					order_sec,
				</if>
				<if test="rid != null">
					rid,
				</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="name != null">
					#{name},
				</if>
				<if test="lng != null">
					#{lng},
				</if>
				<if test="lat != null">
					#{lat},
				</if>
				<if test="order_sec != null">
					#{order_sec},
				</if>
				<if test="rid != null">
					#{rid},
				</if>
		</trim>
	</insert>

    <!--删除-->
	<delete id="delete" parameterType="fence.entity.ArchorEntity">
		delete from `archor`
		<where>
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="id == null">
                and 1 = 0
            </if>
		</where>
	</delete>

    <!--更新-->
	<update id="update" parameterType="fence.entity.ArchorEntity">
		update `archor`
		<trim prefix="set" suffixOverrides=",">
				<if test="id != null">
					id=#{id},
				</if>
				<if test="name != null">
					name=#{name},
				</if>
				<if test="lng != null">
					lng=#{lng},
				</if>
				<if test="lat != null">
					lat=#{lat},
				</if>
				<if test="order_sec != null">
					order_sec=#{order_sec},
				</if>
				<if test="rid != null">
					rid=#{rid},
				</if>
		</trim>
		<where>
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="id == null">
                and 1 = 0
            </if>
		</where>
	</update>

    <!--固定条件查询-->
	<select id="select" parameterType="fence.entity.ArchorEntity"
		resultType="fence.entity.ArchorEntity">
			select 
				id as "id",
				name as "name",
				lng as "lng",
				lat as "lat",
				order_sec as "order_sec",
				rid as "rid"
			from `archor`
			<where>
					<if test="id != null">
						and id=#{id}
					</if>
					<if test="name != null">
						and name=#{name}
					</if>
					<if test="lng != null">
						and lng=#{lng}
					</if>
					<if test="lat != null">
						and lat=#{lat}
					</if>
					<if test="order_sec != null">
						and order_sec=#{order_sec}
					</if>
					<if test="rid != null">
						and rid=#{rid}
					</if>
			</where>
			<if test="orderStr != '' and orderStr != null">
				order by ${orderStr}
			</if>
            <if test="start != null and pageSize != null">
                limit #{start},#{pageSize}
            </if>
		
		
	</select>

    <!--分页（模糊查询的公共条件）-->
    <sql id="likeSelectConditions">
                <if test="id != null and id != '' ">
                and id <![CDATA[=]]> #{id}
                </if>
                <if test="name != null and name != '' ">
                and name <![CDATA[=]]> #{name}
                </if>
                <if test="lng != null and lng != '' ">
                and lng <![CDATA[=]]> #{lng}
                </if>
                <if test="lat != null and lat != '' ">
                and lat <![CDATA[=]]> #{lat}
                </if>
                <if test="order_sec != null and order_sec != '' ">
                and order_sec <![CDATA[=]]> #{order_sec}
                </if>
                <if test="rid != null and rid != '' ">
                and rid <![CDATA[=]]> #{rid}
                </if>
    </sql>

    <!--分页（模糊）查询-->
	<select id="likeSelect" parameterType="fence.entity.ArchorEntity"
		resultType="fence.entity.ArchorEntity">
			select
				id as "id",
				name as "name",
				lng as "lng",
				lat as "lat",
				order_sec as "order_sec",
				rid as "rid"

                from `archor`
			
			<where>
                <include refid="likeSelectConditions"/>
			</where>
			
			<if test="orderStr != '' and orderStr != null">
				order by ${orderStr}
			</if>
            <if test="start != null and pageSize != null">
                limit #{start},#{pageSize}
            </if>
		
		
	</select>

    <!--分页（模糊）查询条数-->
	<select id="likeSelectCount" parameterType="fence.entity.ArchorEntity"
		resultType="java.lang.Long">
		select 
			count(1)
		from `archor`
		
		<where>
            <include refid="likeSelectConditions"/>
		</where>
	</select>
	
</mapper>