<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fence.dao.ILoginDao">
	<select id="login" parameterType="fence.entity.User"
		resultType="fence.entity.User">
		select 
		id,login,passwd
		from user
		where login= #{login} and passwd=#{passwd}
    </select>
</mapper>