<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="fence.dao.IRegionDao">

    <!--添加-->
	<insert id="add" parameterType="fence.entity.RegionEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="id" >
		insert into `region`
            <trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="name != null">
					name,
				</if>
				<if test="type != null">
					type,
				</if>
				<if test="color != null">
					color,
				</if>
				<if test="status != null">
					status,
				</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="name != null">
					#{name},
				</if>
				<if test="type != null">
					#{type},
				</if>
				<if test="color != null">
					#{color},
				</if>
				<if test="status != null">
					#{status},
				</if>
		</trim>
	</insert>

    <!--删除-->
	<delete id="delete" parameterType="fence.entity.RegionEntity">
		delete from `region`
		<where>
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="id == null">
                and 1 = 0
            </if>
		</where>
	</delete>

    <!--更新-->
	<update id="update" parameterType="fence.entity.RegionEntity">
		update `region`
		<trim prefix="set" suffixOverrides=",">
				<if test="id != null">
					id=#{id},
				</if>
				<if test="name != null">
					name=#{name},
				</if>
				<if test="type != null">
					type=#{type},
				</if>
				<if test="color != null">
					color=#{color},
				</if>
				<if test="status != null">
					status=#{status},
				</if>
		</trim>
		<where>
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="id == null">
                and 1 = 0
            </if>
		</where>
	</update>

    <!--固定条件查询-->
	<select id="select" parameterType="fence.entity.RegionEntity"
		resultType="fence.entity.RegionEntity">
			select 
				id as "id",
				name as "name",
				type as "type",
				color as "color",
				status as "status"
			from `region`
			<where>
					<if test="id != null">
						and id=#{id}
					</if>
					<if test="name != null">
						and name=#{name}
					</if>
					<if test="type != null">
						and type=#{type}
					</if>
					<if test="color != null">
						and color=#{color}
					</if>
					<if test="status != null">
						and status=#{status}
					</if>
			</where>
			<if test="orderStr != '' and orderStr != null">
				order by ${orderStr}
			</if>
            <if test="start != null and pageSize != null">
                limit #{start},#{pageSize}
            </if>
		
		
	</select>

    <!--分页（模糊查询的公共条件）-->
    <sql id="likeSelectConditions">
                <if test="id != null and id != '' ">
                and id <![CDATA[=]]> #{id}
                </if>
                <if test="name != null and name != '' ">
                and name like "%"#{name}"%"
                </if>
                <if test="type != null and type != '' ">
                and type <![CDATA[=]]> #{type}
                </if>
                <if test="color != null and color != '' ">
                and color <![CDATA[=]]> #{color}
                </if>
                <if test="status != null and status != '' ">
                and status <![CDATA[=]]> #{status}
                </if>
    </sql>

    <!--分页（模糊）查询-->
	<select id="likeSelect" parameterType="fence.entity.RegionEntity"
		resultType="fence.entity.RegionEntity">
			select
				id as "id",
				name as "name",
				type as "type",
				color as "color",
				status as "status"

                from `region`
			
			<where>
                <include refid="likeSelectConditions"/>
			</where>
			
			<if test="orderStr != '' and orderStr != null">
				order by ${orderStr}
			</if>
            <if test="start != null and pageSize != null">
                limit #{start},#{pageSize}
            </if>
		
		
	</select>

    <!--分页（模糊）查询条数-->
	<select id="likeSelectCount" parameterType="fence.entity.RegionEntity"
		resultType="java.lang.Long">
		select 
			count(1)
		from `region`
		
		<where>
            <include refid="likeSelectConditions"/>
		</where>
	</select>
	
</mapper>